body{
    background-color:black;
    width: 100vw;
    height: 100vh;
}
img{
    display: block;
    -webkit-user-select: none;
    user-select: none;
    margin-left: 0;
    cursor: zoom-in;
    background-color: hsl(0, 0%, 90%);
    transition: background-color or 300ms;
}
img[attribute] {
    width: 201px;
    aspect-ratio: 201 / 585;
    height: 585px;
    /* anchor-scope: 201/585; Removed as it is not a valid CSS property */
}